extends EmailTemplateLayout

block content
  h2 Hello Again #{userName}! 👋
  p We received a request to log in to your TestTaker account. Use the OTP below to proceed:
  p(style="font-size: 20px; font-weight: bold;") Your OTP: #{otp}
  p This OTP is valid for the next 10 minutes.
  p If you didn't request this login, please ignore this email.
