extends EmailTemplateLayout

block content
    h2 Hi #{userName}, Welcome to TestTaker! 🚀
    p Thank you for signing up! To complete your registration, please verify your email with the OTP below:
    p(style="font-size: 20px; font-weight: bold;") Your OTP: #{otp}
    p This OTP is valid for the next 10 minutes.
    p If you didn't request this, please ignore this email.
